@value variables: "../layouts/variables.css";
@value margin, headerHeight, contentPadding, contentPaddingTablet, contentPaddingMobile, maxContentWidth, breakTablet, breakMobile from variables;

.post {
  margin: 0 auto;
  padding: 40px contentPadding 80px contentPadding;
  background-color: white;
  max-width: maxContentWidth;
}
@media (max-width: breakTablet){
  .post {
      padding: 40px contentPaddingTablet 80px contentPaddingTablet;
  }
}
@media (max-width: breakMobile){
  .post {
      padding: 40px contentPaddingMobile 80px contentPaddingMobile;
  }
}

.post img {
  width: 50%;
}

.post h2 {
  margin: calc(margin *2) 0;
}

.post p {
  margin: margin 0;
}
