@value variables: "../layouts/variables.css";
@value  contentPadding, padding, maxContentWidth, gradientGrey, headerHeight from variables;

.page {
  padding: contentPadding;
  max-width: maxContentWidth;
  margin: 0 auto;
  padding-top: padding;
}
