@value variables: "../layouts/variables.css";
@value  contentPadding, contentPaddingTablet, breakTablet, contentPaddingMobile, breakMobile, padding, maxContentWidth, gradientGrey, headerHeight from variables;

.page {
  padding: 0 contentPadding;
  max-width: maxContentWidth;
  margin: 0 auto;
  padding-top: padding;
  padding-bottom: 60px;
}
@media (max-width: breakTablet) {
  .page {
    padding: 0 contentPaddingTablet;
  }
}
@media (max-width: breakMobile) {
  .page {
    padding: 0 contentPaddingMobile;
  }
}
