@value variables: "../layouts/variables.css";
@value grey, pink, blue, gradientGrey, iconSize, gradient, gradientSize, gradientPosition from variables;

.topSection {
  background: linear-gradient(-45deg, #fff, #9c9c9c);
  margin: 0 auto;
  padding: 160px 20% 80px 20%;
  display: block;
}
@media (max-width: 420px){
  .topSection {
      /*padding: 20vh 10% 5vh 10%;*/
  }
}

.topSection p {
  font-size: 1.4rem;
  font-weight: 800;
  letter-spacing: 0.5em;
  line-height: 2.4rem;
  padding: 20px 0;
  text-align: center;
  color: white;
}
@media(max-width: 700px){
    .topSection p {
        font-size: 1rem;
    }
}


.social {
  height: iconSize;
  text-align: center;
}
.social svg {
  height: 100%;
  margin: 10px;
}

.section h1 {
  left: 50%;
  transform: translateX(-50%);
}
.section p {
  max-width: 900px;
  min-width: 300px;
  width: 70%;
  margin: 40px auto;
}
.section a {
  text-align: center;
  display: block;
  margin: 20px auto;
}
.section>div>div:first-child {
  height: 80vh;
}





.section h1 {
  text-align: center;
}
