@value variables: "../layouts/variables.css";
@value grey, pink, blue, gradientGrey, iconSize, gradient, gradientSize, gradientPosition, contentPadding, breakMobile, breakTablet, contentPaddingMobile, contentPaddingTablet from variables;

.topSection {
  background: linear-gradient(-45deg, #fff, #9c9c9c);
  margin: 0 auto;
  padding: 160px 20% 80px 20%;
  display: block;
}
@media (max-width: breakTablet){
  .topSection {
      padding: 160px contentPaddingTablet 80px contentPaddingTablet;
  }
}
@media (max-width: breakMobile){
  .topSection {
      padding: 160px contentPaddingMobile 80px contentPaddingMobile;
  }
}

.topSection >img {
  display: block;
  width: 100%;
  max-width: 690px;
  margin: 0 auto 10px auto;
}

.topSection p {
  font-size: 1.4rem;
  font-weight: 800;
  letter-spacing: 0.5em;
  line-height: 2.4rem;
  padding: 20px 0;
  text-align: center;
  color: white;
}
@media(max-width: 700px){
    .topSection p {
        font-size: 1rem;
    }
}


.social {
  height: iconSize;
  text-align: center;
}
.social svg {
  height: 100%;
  margin: 10px;
}

.section {
  background-color: white;
  padding-bottom: 40px;
}
.section h1 {
  position: absolute;
  top: unset;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 0;
}
.section p {
  max-width: 900px;
  min-width: 300px;
  width: 100%;
  margin: 40px auto;
  padding: 0 contentPadding;
  text-align: justify;
}
@media (max-width: breakTablet){
  .section p {
    padding: 0 contentPaddingTablet;
    text-align: left;
  }
}
@media (max-width: breakMobile){
  .section p {
    padding: 0 contentPaddingMobile;
    text-align: left;
  }
}
.section a {
  text-align: center;
  display: block;
  margin: 20px auto;
}
.section>div>div:first-child {
  height: 80vh;
}
