@import "jost.css";
@value variables: "./variables.css";
@value grey from variables;

* {
  box-sizing: border-box;
  margin: 0;
  color: grey;
}

/* base font styles */
body {
  margin: 0;
  font-size: 16px;
  font-family: 'Jost*';
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
