@import "jost.css";
@value variables: "./variables.css";
@value active from variables;

* {
  box-sizing: border-box;
  margin: 0;
}

/* base font styles */
body {
  margin: 0;
  font-size: 16px;
  font-family: 'Jost*';
  overflow-x: hidden;
}

h1 {
  text-transform: uppercase;
  color: white;
}

a {
  text-decoration: none;
  color: active;
}
