@value variables: "../layouts/variables.css";
@value gradientGrey, padding from variables;


.footer {
  background: gradientGrey;
  width: 100%;
  height: 60px;
  padding: padding;
}

.footer a {
    color: white;
}
