@value variables: "../layouts/variables.css";
@value grey, padding from variables;


.footer {
  background-color: grey;
  width: 100%;
  height: 120px;
  padding: padding;
}

.footer a {
    color: white;
}
