@value variables: "../layouts/variables.css";
@value gradientGrey, padding from variables;


.footer {
  width: 100%;
}

.footer a {
    color: white;
}

.footer > a {
  display: block;
  width: 100%;
  margin: 0;
  background-position: center;
  background-size: cover;
  height: 600px;
}

.footer div {
  background: gradientGrey;
  padding: padding;
}
