@value variables: "../layouts/variables.css";
@value grey, headerHeight, padding from variables;


@value imageHeight: 500px;

.header {
  width:100%;
  height: headerHeight;
  padding: padding;
  position: fixed;
  top:0;
  background: linear-gradient(-45deg, #c5c5c5, #9c9c9c);
}
.homeHeader {
  composes: header;
  background: unset;
}

.logo {
  width: 38px;
}
