@value variables: "../layouts/variables.css";
@value headerHeight, padding from variables;


@value imageHeight: 500px;

.header {
  width:100%;
  height: headerHeight;
  padding: padding;
  position: fixed;
  top:0;
  z-index: 100;
}
.homeHeader {
  composes: header;
  background: unset;
}

.logo {
  width: 60px;
  margin-top: -14px;
}
