@value variables: "../layouts/variables.css";
@value gradientGrey, headerHeight, padding from variables;


@value imageHeight: 500px;

.header {
  width:100%;
  height: headerHeight;
  padding: padding;
  position: fixed;
  top:0;
  background: gradientGrey;
}
.homeHeader {
  composes: header;
  background: unset;
}

.logo {
  width: 38px;
}
