@value variables: "../layouts/variables.css";
@value padding, contentPadding, contentPaddingTablet, breakTablet, contentPaddingMobile, breakMobile, breakColumns, maxContentWidth, blue, grey,gradient, gradientSize, gradientPosition, padding from variables;





.hero {
  position: relative;
}

.heroImage {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color: rgba(225, 0, 204, 0.1);
  background-blend-mode: multiply;
  position: relative;
}

.homeHeroImage {
  composes: heroImage;
  background-attachment: fixed;
  height: 80vh;
}

.pageHeroImage {
  composes: heroImage;
  background-attachment: fixed;
  height: 400px;
}

.previewHeroImage{
  composes: heroImage;
  background-attachment: scroll;
  height: 0;
  padding-top: 60%;
}

.heroTitle {
  font-size: 80px;
  margin: 0 auto;
}

@media (max-width: breakTablet) {
  .heroTitle {
    top: 300px;
    font-size: 60px;
    padding: 0 contentPaddingTablet;
  }
}
@media (max-width: breakMobile) {
  .heroTitle{
    top: 320px;
    font-size: 44px;
    padding: 0 contentPaddingMobile;
  }
}
@media (max-width: breakColumns){
  .heroTitle {
    text-align: center;
  }
}

.homeHeroTitle {
  composes: heroTitle;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
}

.pageHeroTitle {
  composes: heroTitle;
  position: relative;
  top: 270px;
  left: 0;
  padding: 0 contentPadding;
  max-width: maxContentWidth;
}

.previewHeroTitle {
  composes: heroTitle;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 26px;
  padding: 10px;
  font-weight: bold;
}
