@value variables: "../layouts/variables.css";
@value margin from variables;

.navMain{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.navMain ul {
  padding: 0;
}

.navMain a {
  display: block;
  color: white;
  margin: margin;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.6rem;
  letter-spacing: 0.5em;
  line-height: 2.4rem;
}
@media(max-width: 700px){
    .navMain a {
        font-size: 1.2rem;
    }
}
