@value variables: "../layouts/variables.css";
@value grey, blue, gradientGrey, darkBlue, breakColumns from variables;


.preview {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: breakColumns){
  .preview {
    justify-content: center;
  }
}

.preview article {
  width: 42%;
  background: white;
  display: inline-block;
  margin: 40px 0;
  padding: 0px;
  vertical-align: top;
}
@media (max-width: breakColumns){
  .preview article {
    width: 100%;
  }
}

.preview article>div>div:first-child{
  background-attachment: scroll;
  width: 100%;
  height: 0;
  padding-top: 60%;
}

.preview h1 {
  position: absolute;
  top: unset;
  left: 0;
  bottom: 0;
  font-size: 26px;
  padding: 10px;
  font-weight: bold;
  text-align: left;
}

.preview p {
  width: 100%;
  padding: 20px 20px 0 10px;
  text-align: left;
  margin: 0;
}

.preview a {
  float: right;
  padding: 10px;
}
