@value variables: "../layouts/variables.css";
@value grey, blue, gradientGrey, darkBlue, breakColumns from variables;


.preview {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: breakColumns){
  .preview {
    justify-content: center;
  }
}

.preview article {
  width: 42%;
  display: inline-block;
  margin: 40px 0;
  padding: 0px;
  vertical-align: top;
}
@media (max-width: breakColumns){
  .preview article {
    width: 100%;
  }
}


.preview p {
  width: 100%;
  padding: 20px 20px 0 10px;
  text-align: left;
  margin: 0;
  background: white;
}

.preview a:last-of-type {
  display: block;
  width: 100%;
  text-align: right;
  padding: 10px;
  background: white;
}
