@value variables: "../layouts/variables.css";
@value blue, gradient, gradientSize, gradientPosition, breakMobile from variables;


.sticky{
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background: gradient;
  background-size: gradientSize;
  background-position: gradientPosition;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 45px 0;
  display: inline-block;
  position: fixed;
  top: 400px;
  right: 10px;
  transform: rotate(-18deg);
  transition: all 1s;
  z-index: 50;
}
.sticky img {
  width: 100px;
}

.sticky:hover{
  background-position: 0% 0%;
  transition: all 1s;
}

@media (max-width: breakMobile){
  .sticky {
    width: 90px;
    height: 90px;
    padding: 34px 0;
    top: unset;
    bottom: 10px;
  }
  .sticky img {
    width: 70px;
  }
}
